<main class="w-full bg-slate-200 mt-20 min-h-[calc(100vh-88px)]">
  <div class="flex justify-center items-center">
    <div class="flex flex-col w-3/4 p-3 items-start">
      <div class=" border-b-4 border-b-input-background-100 w-full py-5">
        <h1 class="font-bold text-xl">TruckerJobs4u Blog</h1>
        <p><i>
            Welcome
            <% if user_signed_in? %>
              <%= current_user.first_name %>,
            <% end %>
            to the TruckerJobs4u blog.
          </i></p>
      </div>
      <div class="flex justify-center w-full py-6">
        <div class="flex flex-wrap justify-center md:justify-evenly md:w-5/6">
          <div class="flex flex-wrap justify-center md:justify-evenly md:w-5/6 lg:w-full">
            <% @blog.each do |b| %>
              <div class="flex flex-col my-5 p-2 rounded-md w-96 border border-input-background bg-slate-50">
                <% if b.cover_image.present? %>
                  <%= image_tag b.cover_image, class: "rounded h-48 object-cover", alt: "cover image for the article" %>
                <% end %>
                <%= link_to blog_show_path(b) do %>
                  <h2 class="font-bold py-2"><%= b.title %></h2>
                  <p class="pb-3"><%= b.content.to_plain_text.truncate_words(30) %></p>
                  <div class="flex justify-between py-1 px-2">
                    <div class="flex flex-col">
                      <span class="font-medium text-slate-700"><%= "Author: #{b.user.first_name} #{b.user.last_name}" %></span>
                      <span class="font-medium text-slate-700"><%= "Date: #{b.created_at.to_date.inspect}" %></span>
                    </div>
                  </div>
                  <% if b.draft? %>
                    <div class="text-red-200 font-bold rounded bg-red-950 p-2 w-full text-center">Draft</div>
                  <% elsif b.scheduled? %>
                    <div class="text-sky-200 font-bold rounded bg-sky-950 p-2 w-full text-center">Scheduled</div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>