<section class="w-full text-terminal-window-100 bg-slate-50 mt-20 py-4 min-h-[calc(100vh-88px)]">
  <div class="flex justify-center items-center">
    <div class="flex flex-col items-center max-w-5xl p-2">
      <h1 class="font-bold text-lg md:text-3xl text-center py-8">
        <%= @blog.title %>
      </h1>
      <% if @blog.cover_image.present? %>
        <%= image_tag @blog.cover_image, class: "rounded-lg md:w-3/4 lg:w-full h-96 object-cover" %>
      <% end %>
      <div class="flex justify-start md:w-3/4 lg:w-4/5 my-3 md:mx-1 w-full">
        <span>Author: <%= @blog.user.first_name %>&nbsp;<%= @blog.user.last_name %></span>
      </div>
      <div class="flex justify-start md:w-3/4 lg:w-4/5 w-full">
        <span>Created: <%= @blog.created_at.to_date.inspect %></span>
      </div>
      <div class="md:w-3/4 lg:w-4/5 mt-6">
        <%= @blog.content %>
      </div>
    </div>
  </div>
</section>